.sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.spaceMono {
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
